html {
    background-color: #000;
}
* {
    color: #FFF;
    font-family: Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}
div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 5px solid #FFF;
    border-radius: 5%;
    background-color: #111 !important;
    margin: 30px 10px;
    padding: 20px;
    width: 90%;
    max-width: 900px;
}
label, h3 {
    padding: 5px;
}
label {
    flex: 0 0 auto;
    margin: 0;
}
textarea {
    display: block;
    width: 100%; 
    margin: 10px 0; 
    color: #000;
    resize: vertical;
    flex-shrink: 1;
}
button {
    color: #000 !important;
    background-color: #FFF !important;
    margin: 10px 20px 0 0;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #ccc !important;
}
.output {
    text-wrap: auto;
    overflow-wrap: break-word;
    min-height: 100px;
    overflow: auto;
    padding: 10px;
    margin: 15px auto;
    width: 100%;
    border: 2px solid #babac7;
}
py-error {
    display: none !important;
}
a {
    display: block;
    color: #10238d;
    text-decoration: none;
    font-size: 15px;
    margin: -20px auto 0 40px;
}
a:hover {
    text-decoration: underline;
    
}
a:visited {
    color: #4a1575;
}

